# build output
dist/
.output/

# dependencies
node_modules/

.*.log
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-*.log


# environment variables
.env
.env.production
.env.*
.env.me
!.env.project

# macOS-specific files
.DS_Store

