save-exact=true
engine-strict=true
ignore-warnings=true

# disable warnings when adding packages while in the workspace root directory
ignore-workspace-root-check=true

# create a flat node_modules structure and expose Astro dependencies
shamefully-hoist=true

# if true, pnpm fails on mismatched/unmet peer dependencies
strict-peer-dependencies=false

# try to automatically install peer dependencies
auto-install-peers=true

# (true | false | deep) - true: use workspaces, false: don't use workspaces, deep: use workspaces with deep resolution
link-workspace-packages=true

# (true | false) - always use workspace package versions, even if a new version is available in the registry
prefer-workspace-packages=false

# (true | false) - use a unified lockfile at the workspace root
shared-workspace-lockfile=true

# create a new git tag after bumping a package version (npm publish / npm version, etc)
git-tag-version=true

# sign that git tag with the configured GPG key
sign-git-tag=true

# sign all npm-invoked git commits with GPG
sign-git-commit=true
